//-------------bg:css cho màu background-------- */
$bg-c1-primary: #000;
$bg-c1-light: #fff;
$bg-c1-gray: #f8f8f8;
$bg-c2-gray: #dedddc;
$bg-c1-orange: #f8b653;
$bg-c2-orange: #E1B067;
$bg-transparent: rgba(0, 0, 0, 0);
$bg-none: none;

/*-----text: css cho text ---------*/
//text-color: màu của text
$text-c1-primary: #000;
$text-c1-dark: #000;
$text-c1-light: #fff;
$text-c2-light: #f6f6f6;
$text-c1-orange: #f8b653;
$text-c1-gray: #cbc9c9;
//-------------------text-size
$text-xs: 13px;
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-2xl-4: 24px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;
$text-7xl: 70px;

//--------------text-font-weight
$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-semibold: 600;
$text-bold: 700;

//@include(include): Dùng để format truyền động giá trị cho các thuộc tính css
//@extend: Định nghĩa trước các class css có thể tái sử dụng
@mixin text($fs: $text-xs, $fw: $text-semibold, $c: $text-c1-dark) {
  font-size: $fs;
  font-weight: $fw;
  color: $c;
}

@mixin button(
  $fs,
  $fw,
  $c,
  $bg,
  $pd,
  $bd,
  $br,
  $bg-hover,
  $c-hover,
  $bd-hover
) {
  @include text($fs, $fw, $c);
  background: $bg;
  padding: $pd;
  border: $bd;
  border-radius: $br;
  cursor: pointer;

  &:hover {
    background: $bg-hover;
    color: $c-hover;
    border: $bd-hover;
  }
}
